@model Customer___products.Models.Customer

<form asp-action="Create" method="post">

    @Html.AntiForgeryToken()

    <div asp-validation-summary="All"></div>

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit">Save</button>
</form>