@model List<HotelBookingSystem.Models.Booking>

<h2>Bookings</h2>

<a href="/Bookings/Create" class="btn btn-primary mb-3">Add Booking</a>

<table class="table table-bordered">
    <tr>
        <th>Room</th>
        <th>Customer</th>
        <th>CheckIn</th>
        <th>CheckOut</th>
    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.RoomId</td>
            <td>@b.CustomerId</td>
            <td>@b.CheckInDate</td>
            <td>@b.CheckOutDate</td>
        </tr>
    }
</table>