@model HotelBookingSystem.Models.Customer

<h2>Add Customer</h2>

<form method="post">

    <input asp-for="Name" class="form-control mt-2" placeholder="Name" />

    <input asp-for="Email" class="form-control mt-2" placeholder="Email" />

    <input asp-for="Phone" class="form-control mt-2" placeholder="Phone" />

    <button type="submit" class="btn btn-success mt-3">Save</button>

</form>